{% extends 'base.html.twig' %} {% block title %}Gerer les annonces!{% endblock %} {% block body %} {% for message in app.flashes('message') %}
<div class="alert alert-danger" role="alert">{{ message }}</div>{% endfor %}
<div class="example-wrapper">
    <h1>Gérer les annonces</h1>
    <table class="table table-dark table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">title</th>
                <th scope="col">date</th>
                <th scope="col">active</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
            {% for annonce in annonces %}
            <tr>
                <th scope="row">{{annonce.id}}</th>
                <td>{{annonce.title }}</td>
                <td> {{annonce.createdAt|date}}</td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" data-id="{{annonce.id}}" {{ (annonce.active) ? 'checked' : ''}}>
                        <label class="form-check-label" for="flexSwitchCheckCheckedDisabled"></label>
                    </div>
                </td>
                <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                   delete
                  </button> </td>
            </tr>
            {% include "admin/annonces/annonce_delete_modal.html.twig" %} {% endfor %}
        </tbody>
    </table>
</div>
{# <a href="{{path('admin_annonces_modifier', {'id': annonce.id})}}" class="btn btn-primary w-50">delete</a> #} {% endblock %} {% block javascripts %}
<script>
    window.onload = () => {
        let activer = document.querySelectorAll("[type=checkbox]")
        for (let bouton of activer) {
            bouton.addEventListener("click", function() {
                let xmlhttp = new XMLHttpRequest;

                // xmlhttp.onreadystatechange = () => {

                // } #}

                xmlhttp.open("get", `annonces/switch/${this.dataset.id}`)
                xmlhttp.send()
            })
        }
    }
</script>
{% endblock %}